@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&family=Switzer:wght@300;400;500;600&display=swap');

:root {
  --background: #050505;
  --foreground: #ededed;
  --muted: #A1A1AA;
  --border: #27272A;
  --input-bg: #18181B;

  --primary: #C084FC;
  --secondary: #34D399;
}

html {
  scroll-behavior: smooth;
  background-color: var(--background);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Switzer', sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .font-syncopate {
    font-family: 'Syncopate', sans-serif;
  }

  .font-switzer {
    font-family: 'Switzer', sans-serif;
  }

  .animate-blob {
    animation: blob 10s infinite;
  }

  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }

    33% {
      transform: translate(30px, -50px) scale(1.1);
    }

    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
}