---
import Base from "../layouts/Base.astro";
---

<Base
  title="Contact — Enzo Oriol"
  description="Contact professionnel et réseaux."
>
  <section class="asus-rog-card" style="margin-top: 20px;">
    <h2 class="text-3xl font-bold">Contact</h2>
    <p class="mt-2 text-[var(--muted)]">
      Email direct : <a href="mailto:oriol.enzo10@gmail.com"
        >oriol.enzo10@gmail.com</a
      >
    </p>
    <p class="mt-1 text-[var(--muted)]">
      GitHub : <a
        href="https://github.com/JUDOKA104"
        target="_blank"
        rel="noreferrer">@judoka104</a
      >
    </p>
    <p class="mt-1 text-[var(--muted)]">
      Mobilité : j’étudie <strong>toutes</strong> propositions !
    </p>
    <form
      class="mt-6 grid gap-3"
      method="POST"
      action="https://formspree.io/f/xovyqewz"
    >
      <input
        class="asus-rog-card"
        required
        type="text"
        name="name"
        placeholder="Nom"
      />
      <input
        class="asus-rog-card"
        required
        type="email"
        name="email"
        placeholder="Email"
      />
      <textarea
        class="asus-rog-card"
        required
        name="message"
        rows="5"
        placeholder="Message"></textarea>
      <button class="asus-rog-card" type="submit">Envoyer</button>
    </form>
  </section>
</Base>
